<div class="text-center row col-md-8 col-md-offset-2">

 <h1>Address Book</h1>

 <div class="main-controls margin-top-sm">
  <input type="text" placeholder="search" ng-model="query">
  <a href="" class="btn btn-primary" ng-click="showNewContactForm()">Add new contact</a>
  <a href="" class="btn btn-primary" ng-click="editingMode = !editingMode">Edit Contacts</a>
 </div>

 <div class="margin-top" ng-show="showAddNew">
  <p>Required = *</p>
   <form novalidate class="form" name="newContactForm">
    <div class="form-group">
      First Name*: <input type="text" name="firstName" placeholder="" class="form-control" ng-model="newContact.first_name" required>
       <p ng-show="newContactForm.firstName.$invalid" class="help-block">First name is required.</p>
      Surname*: <input type="text" name="surname" placeholder="" class="form-control" ng-model="newContact.surname" required>
      <p ng-show="newContactForm.surname.$invalid" class="help-block">Surname is required.</p>
      Address: <input type="text" placeholder="" class="form-control" ng-model="newContact.address">
      Phone Number: <input type="text" placeholder="" class="form-control" ng-model="newContact.phone_number">
      Email: <input type="email" placeholder="" class="form-control" ng-model="newContact.email">
    </div>
     <button class="btn btn-primary" ng-click="clear()">Clear</button>
     <button class="btn btn-primary" ng-click="saveNewContact(newContact)" ng-disabled="newContactForm.$invalid">Save</button>
   </form>
 </div>

 <div class="contacts margin-top">
  <div class="row">
    <ul class="list-style-none">

     <li ng-repeat="contact in contacts | filter:query">
      <div class="contact" >

        <h2 class="contact-name">{{contact.first_name}} {{contact.surname}}</h2>

        <div class="info">
         <p ng-show="contact.address"><strong>Address:</strong> {{contact.address}}</p>
         <p ng-show="contact.phone_number"><strong>Phone:</strong> {{contact.phone_number}}</p>
         <p ng-show="contact.email"><strong>Email:</strong> {{contact.email}}</p>
        </div>

        <button class="btn btn-primary" ng-click="editContact(contact)" ng-show="editingMode">Edit</button>
        <button class="btn btn-delete" ng-click="deleteContact(contact)" ng-show="editingMode">Delete</button>
      
        <form novalidate name="updateContactForm" class="form margin-top-sm" ng-show="contact.edit">
          <div class="form-group" >
            First Name*: <input type="text" name="firstName" placeholder="" class="form-control" ng-model="contact.first_name" required>
            <p ng-show="updateContactForm.firstName.$invalid" class="help-block">First name is required.</p>
            Surname*: <input type="text" name="surname" placeholder="" class="form-control" ng-model="contact.surname" required>
            <p ng-show="updateContactForm.surname.$invalid" class="help-block">Surname is required.</p>
            Address: <input type="text" placeholder="" class="form-control" ng-model="contact.address">
            Phone Number: <input type="text" placeholder="" class="form-control" ng-model="contact.phone_number">
            Email: <input type="email" placeholder="" class="form-control" ng-model="contact.email">
          </div>
          <button class="btn btn-primary" ng-click="updateContact(contact)">Close</button>
          <button class="btn btn-primary" ng-click="updateContact(contact)" ng-disabled="updateContactForm.$invalid">Update</button>

        </form>
      </div><!--./contact-->
  
     </li>
    </ul>
   </div><!--./row-->
 </div><!--./contacts-->
</div><!--./row col-->